doctype html
html
	head
		title=title
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
		// Le css
		link(rel='stylesheet', href='/css/style.css')
	body
		block content

	// Les javascripts
	script(src='/js/helper.plug.js')
	script(src='/js/main.app.js')
